:root {
  --my-hue: 200;
}

body {
  background: hsl(var(--my-hue), 80%, 90%);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "游ゴシック" , "Yu Gothic" , "メイリオ" , "Meiryo", "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ ProN W3" , "Hiragino Kaku Gothic ProN" , "Meiryo UI" , sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  width: 100vw;
  height: calc(100vh - 120px);
  grid-template-rows: 40px 100px 50px auto;
  grid-gap: 5px;
  box-sizing: border-box;
}
.header {
  display: flex;
  background: hsl(var(--my-hue), 90%, 80%);
}
.header div:first-child {
  flex: 1 0 auto;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
/* マニュアルのボタン */
#manualOpen {
  flex: 0 0 100px;
}
/* 分数表示 */
#result {
  background: dimgray;
  font-size: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 10px;
  box-sizing: border-box;
  border: 10px inset hsl(var(--my-hue), 90%, 40%);
}

/* 分数表示グリッド */
.bunsuBox {
  margin: 0;
  padding: 0;
  display: inline-grid;
  grid-column-gap: 5px;
  height: 80px;
  grid-template: 
    "seisu bunshi"
    "seisu bunbo";
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.operatorBox {
  margin: 0 5px;
  padding: 0;
  display: inline-flex;
  height: 80px;
  /* font-size: 24px; */
  justify-content: center;
  align-items: center;
  color: #fff;
}
.seisu {
  /* background: pink; */
  grid-area: seisu;
  justify-self: center;
  align-self: center;
}
.bunbo {
  /* background: tomato; */
  grid-area: bunbo;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bunshi {
  /* background: lime; */
  grid-area: bunshi;
  padding: 0 5px;
  box-sizing: border-box;
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 入力エリア */
.input-area {
  display: flex;
}
#inputDisplay {
  flex: 1 0 auto;
  font-size: 20px;
  padding-left: 10px;
  box-sizing: border-box;
  background: hsl(var(--my-hue), 90%, 80%);
  border: 1px solid hsl(var(--my-hue), 90%, 40%);
  display: flex;
  align-items: center;
  /* color: #fff; */
}
#clear {
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: hsl(200, 100%, 80%); */
}

/* ボタン */
.inputBtns {
  padding: 30px 10px;
  box-sizing: border-box;
  /* border: 4px solid hsl(var(--my-hue), 80%, 50%); */
  background: hsl(var(--my-hue), 80%, 60%);
  border-radius: 30px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    'allclear and par div'
    'n7  n8  n9  mul'
    'n4  n5  n6  sub'
    'n1  n2  n3  add'
    'n0 n0 space equal';
  grid-gap: 5px;
}
.btn {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px outset hsl(var(--my-hue), 90%, 40%);
  background: hsl(var(--my-hue), 90%, 40%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.btn span {
  display: block;
  font-size: 1.5em;
}
.btn.op {
  background: hsl(var(--my-hue), 90%, 90%);
  border: 2px outset hsl(var(--my-hue), 90%, 90%);
  color: hsl(var(--my-hue), 90%, 40%);
  font-weight: bold;
}
.disabled {
  opacity: 0.5;
  /* background: hsl(200, 20%, 90%) */
  cursor: default;
}
/* ボタンのグリッド名 */
#allclear {
  grid-area: allclear;
  background: hsl(calc(var(--my-hue)), 90%, 30%);
  border: 2px outset hsl(calc(var(--my-hue)), 90%, 30%);
}
#space {
  grid-area: space;
}
#n0 {
  grid-area: n0;
}
#n1 {
  grid-area: n1;
}
#n2 {
  grid-area: n2;
}
#n3 {
  grid-area: n3;
}
#n4 {
  grid-area: n4;
}
#n5 {
  grid-area: n5;
}
#n6 {
  grid-area: n6;
}
#n7 {
  grid-area: n7;
}
#n8 {
  grid-area: n8;
}
#n9 {
  grid-area: n9;
}
#and {
  grid-area: and;
}
#par {
  grid-area: par;
}
#add {
  grid-area: add;
}
#sub {
  grid-area: sub;
}
#mul {
  grid-area: mul;
}
#div {
  grid-area: div;
}
#equal {
  grid-area: equal;
}

/* モーダルウィンドウ */
#mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal {
  position: absolute;
  box-sizing: border-box;
  border-radius: 5px;
  width: 90vw;
  padding: 0 10px 10px 10px;
  /* min-height: 350px; */
  background: #fff;
  margin: 0 auto;
  top: 30px;
  left: 0;
  right: 0;
  transition: 0.4s;
}
.modal h1 {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #999;
  /* border-top: 1px solid black; */
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}
.modalbtn {
  width: 100px;
  height: 40px;
  margin: 5px auto;
  transition: 0.4s;
}
.hidden {
  transform: translate(0, -1000px) scale(0, 0);
}
/* タブレット・PC向け */
@media (min-width: 570px) {
  .container {
    width: 570px;
    height: 570px;
    margin: 0 auto;
  }
  .modal {
    width: 500px;
    height: 500px;
  }
}