body {
  background: #eee;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 40px 120px 60px 1fr;
  grid-gap: 5px;
}
#header {
  background: pink;
}
#result {
  background: limegreen;
  font-size: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.input-display {
  background: tomato;
  display: flex;
}
#inputDisplay {
  flex: 1 0 auto;
  font-size: 20px;
  padding-left: 10px;
  /* border: 1px solid #666; */
  display: flex;
  align-items: center;
}
#clear {
  flex: 0 0 40px;
  border: 1px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputBtns {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    'allclear space space div'
    'n7  n8  n9  mul'
    'n4  n5  n6  sub'
    'n1  n2  n3  add'
    'n0  and par equal';
  grid-gap: 5px;
}
.btn {
  box-sizing: border-box;
  border: 1px solid #666;
  border-radius: 2px;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.btn span {
  display: block;
  font-size: 1.5em;
}
.disabled {
  opacity: 0.5;
  cursor: default;
}
/* グリッド名 */
#allclear {
  grid-area: allclear;
}
#space {
  grid-area: space;
}
#n0 {
  grid-area: n0;
}
#n1 {
  grid-area: n1;
}
#n2 {
  grid-area: n2;
}
#n3 {
  grid-area: n3;
}
#n4 {
  grid-area: n4;
}
#n5 {
  grid-area: n5;
}
#n6 {
  grid-area: n6;
}
#n7 {
  grid-area: n7;
}
#n8 {
  grid-area: n8;
}
#n9 {
  grid-area: n9;
}
#and {
  grid-area: and;
}
#par {
  grid-area: par;
}
#add {
  grid-area: add;
}
#sub {
  grid-area: sub;
}
#mul {
  grid-area: mul;
}
#div {
  grid-area: div;
}
#equal {
  grid-area: equal;
}
/* タブレット・PC向け */
@media (min-width: 570px) {
  .container {
    width: 570px;
    height: 570px;
    margin: 0 auto;
  }
}