:root {
  --app-height: 570px;
}
body {
  background: #eee;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  width: 100vw;
  height: var(--app-height);
  grid-template-rows: 40px 120px 50px auto;
  grid-gap: 5px;
}
.header {
  background: pink;
  display: flex;
}
.header div:first-child {
  flex: 1 0 auto;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
/* マニュアルのボタン */
#manualOpen {
  flex: 0 0 100px;
}
/* 分数表示 */
#result {
  background: limegreen;
  font-size: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/* 分数表示グリッド */
.bunsuBox {
  margin: 0;
  padding: 0;
  display: inline-grid;
  grid-column-gap: 5px;
  height: 80px;
  grid-template: 
    "seisu bunshi"
    "seisu bunbo";
  font-size: 16px;
}
.operatorBox {
  margin: 0 5px;
  padding: 0;
  display: inline-flex;
  height: 80px;
  /* font-size: 24px; */
  justify-content: center;
  align-items: center;
}
.seisu {
  grid-area: seisu;
  justify-self: center;
  align-self: center;
}
.bunbo {
  grid-area: bunbo;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bunshi {
  grid-area: bunshi;
  padding: 0 5px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 入力エリア */
.input-area {
  background: tomato;
  display: flex;
}
#inputDisplay {
  flex: 1 0 auto;
  font-size: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
#clear {
  flex: 0 0 40px;
  border: 1px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ボタン */
.inputBtns {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    'allclear and par div'
    'n7  n8  n9  mul'
    'n4  n5  n6  sub'
    'n1  n2  n3  add'
    'n0 n0 . equal';
  grid-gap: 5px;
}
.btn {
  box-sizing: border-box;
  border: 1px solid #666;
  border-radius: 2px;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.btn span {
  display: block;
  font-size: 1.5em;
}
.disabled {
  opacity: 0.5;
  cursor: default;
}
/* ボタンのグリッド名 */
#allclear {
  grid-area: allclear;
}
#n0 {
  grid-area: n0;
}
#n1 {
  grid-area: n1;
}
#n2 {
  grid-area: n2;
}
#n3 {
  grid-area: n3;
}
#n4 {
  grid-area: n4;
}
#n5 {
  grid-area: n5;
}
#n6 {
  grid-area: n6;
}
#n7 {
  grid-area: n7;
}
#n8 {
  grid-area: n8;
}
#n9 {
  grid-area: n9;
}
#and {
  grid-area: and;
}
#par {
  grid-area: par;
}
#add {
  grid-area: add;
}
#sub {
  grid-area: sub;
}
#mul {
  grid-area: mul;
}
#div {
  grid-area: div;
}
#equal {
  grid-area: equal;
}

/* モーダルウィンドウ */
#mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal {
  position: absolute;
  box-sizing: border-box;
  border-radius: 5px;
  width: 90vw;
  padding: 0 10px 10px 10px;
  background: #fff;
  margin: 0 auto;
  top: 30px;
  left: 0;
  right: 0;
  transition: 0.4s;
}
.modal h1 {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #999;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}
.modalbtn {
  width: 100px;
  height: 40px;
  margin: 5px auto;
  transition: 0.4s;
}
.hidden {
  transform: translate(0, -1000px) scale(0, 0);
}
/* タブレット・PC向け */
@media (min-width: 570px) {
  .container {
    width: 570px;
    height: var(--app-height);
    margin: 0 auto;
  }
  .modal {
    width: 500px;
    height: 500px;
  }
}